<img id="banner" src="/assets/banner.png" class="img-responsive">
<div class="row"> 
 <div class="col-lg-2" ></div>
  <div id="form_container" class="col-lg-8">

	<center><h1>Formulario de pedido</h1></center>

	<%= render 'form', formulario: @formulario %>

	</div>
</div>